 h1,h2 {
	text-align: center;
 	font-family: "Lucida Console", "Courier New", monospace;

 }
h3,h5 {
 	font-family: "Times New Roman", Times, serif;
}
.color-red { 
	color: red; 
}
.big-text {
	font-size: 30px;
}
 #rounded-img {
border-radius: 100px;
border: 0px solid #ddd;
padding: 20px;
width: 600px;
}
body {
  background-color: lightblue;
}
table, th, td {
  border: 3px solid navy;
   border-style: dashed;
 width: 500px;
border-radius: 5px;
}

td {
  text-align: center;
  padding: 3px;
 
}
p {
  font-family: "Papyrus", "Courier New", Fantasy;
}
 li {
 font-family: "Lucida Handwriting",cursive;
}
